interface br-ffintern {
        AdvSendAdvert on;
        AdvOtherConfigFlag on;
        AdvManagedFlag on;

        prefix fd01:67c:770::/64 {
                AdvAutonomous off;
        };

        prefix {{ network_ipv6_public }}/64 {
                AdvAutonomous on;
        };
};
